@tailwind base;
@tailwind components;
@layer components {
    /* a4 page */
    .page {
        @apply z-[1] mx-auto my-6 h-[297mm] w-full rounded border bg-white px-8 pb-10 pt-10 print:w-[210mm] md:w-[210mm];
        @apply relative break-before-auto print:mx-0 print:my-0 print:rounded-none print:shadow-none;
    }
    .gradient {
        @apply after:absolute after:inset-0 after:z-[-1] after:h-full after:w-full after:opacity-10 after:blur-[100px] after:saturate-150;
    }
    .gradient:after {
        background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
            radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
            radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
            radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
            radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
            radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
            radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    }
    .orange-gradient {
        @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
    }

    .green-gradient {
        @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
    }

    .blue-gradient {
        @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
    }
    .resume-box {
        @apply grid h-full grid-cols-10 gap-4;
    }
    .left-box {
        @apply col-span-3;
    }
    .right-box {
        @apply col-span-7 text-justify;
    }
    .subtitle {
        @apply blue-gradient relative mb-2 font-bold uppercase print:text-gray-700;
    }

    .section-box {
        @apply flex h-10 items-center justify-center rounded-lg bg-primary-100;
    }
    .resume-link {
        @apply text-sm text-primary-500 underline;
    }
    .bullet-list {
        @apply ml-2 mt-2 space-y-1.5 text-xs;
    }
    .bullet {
        @apply h-1.5 w-1.5 rounded-full bg-primary-500;
    }
    .gradient-btn {
        @apply relative flex items-center justify-center overflow-hidden rounded bg-gradient-to-br p-0.5 font-bold text-gray-900 hover:text-white focus:outline-none focus:ring-0 dark:text-white;
    }
    .gradient-content {
        @apply flex w-32 items-center rounded-md bg-white px-3 py-2 text-xs transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900 print:bg-primary-50;
    }
    .contact-icon {
        @apply mr-3 rounded;
    }
    .profile-photo {
        @apply mx-auto rounded-full bg-gradient-to-r from-emerald-400 to-primary-400 object-cover;
    }
    .name--title {
        @apply mb-10;
    }
    .resume-box.with-photo .name--title {
        @apply mb-6 mt-4 text-center;
    }
    .resume-box:not(.with-photo) .profile-photo {
        @apply hidden;
    }
    /* extra buttons */
    .export-btn {
        @apply absolute right-6 top-4 z-50 flex cursor-pointer items-center space-x-2 text-sm print:hidden;
    }
    .btn {
        @apply flex h-8 w-8 items-center justify-center border border-r-0;
    }
    .btn:first-child {
        @apply rounded-l;
    }
    .btn:last-child {
        @apply rounded-r border-r;
    }
}
@tailwind utilities;

body {
    @apply bg-[url('/images/mask.svg')] [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,1))] print:bg-white;
}

@page {
    size: A4;
    margin: 0;
}
